# --------------------------
# 编译与构建产物
# --------------------------
build/
bin/
obj/
*.o
*.elf
*.hex
*.bin
*.map
*.lst
*.out
*.d

# --------------------------
# STM32Cube 生成的临时文件
# --------------------------
.stm32cubemx/
.ioc_user_backup/
*.ioc.bak

# --------------------------
# VS Code 配置与缓存
# --------------------------
.vscode/
.vs/
*.code-workspace
.clangd
.cache/
.DS_Store

# --------------------------
# 工具链与脚本
# --------------------------
*.ld
*.pyc
__pycache__/

# --------------------------
# 其他临时文件
# --------------------------
*.log
*.swp
*.swo
*~